@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 82%;
  max-width: 1320px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  font-family: Merriweather;
  /* background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.1100)), url('/images/Banner\ Image.png'); */
  background-image: linear-gradient(to bottom, #3300ff48, #1100ff4b),
    url("/images/Banner\ Image.png");
}
.container img {
  width: 100%;
}
.container .text {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 30%;
  font-weight: 400;
  font-size: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container .text-celebration {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  font-size: 72px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
}
.container-off {
  margin-top: 120px;
}
.container-off .text-off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.container-off .text-deals {
  color: #f00;
  margin-top: 48px;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container-off .text-categories {
  color: #070211;
  margin-top: 16px;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
.container-off img {
  width: 50%;
}

.container-off {
  display: grid;
  place-items: center;
  margin-bottom: 120px;
}

.container-mid-night img {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, #3300ff48, #1100ff4b),
    url("/images/Banner\ Image.png");
}
.container-mid-night {
  width: 82%;
  max-width: 1320px;
  margin: auto;
  position: relative;
  font-family: Merriweather;
  margin-bottom: 120px;
}
.container-mid-night .text-midnight-party {
  position: absolute;
  color: #fff;
  left: 30%;
  top: 40%;
  font-size: 64px;
  transform: translate(-50%, -50%);
  font-weight: 900;
}
.container-mid-night .text-celebration {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  left: 10%;
  top: 60%;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.container-mid-night .btn {
  position: absolute;
  left: 10%;
  top: 80%;
  font-size: 20px;
  font-weight: 700;
}

.schedule {
  margin: 130px 0;
  width: 82%;
  max-width: 1320px;
  height: 482px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  font-family: Merriweather;
  margin-bottom: 120px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-bottom: 150px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.section-title {
  padding-top: 30px;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  line-height: 56px;
}
.text-primary {
  color: #f00;
}

.btn-primary {
  text-align: center;
  margin-top: 100px;
  border-radius: 5px;
  background: #f00;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  gap: 10px;
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
.section-title {
    color: 
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  
}